.navbarItems {
  background-color: #1c74bc;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo {
  color: black;
  justify-self: start;
  margin: 0 20px;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

.logo {
  box-shadow: 0 0 black;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: white;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: black;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.copy{
  text-decoration: solid;
}
